body {
	--bg-color: #262429;
	--bg-color-transparent: rgba(38, 36, 41, 0.9);
	--bg-color-shade-1: #404040;
	--bg-color-shade-2: #606060;

	--fg-color: white;
	--fg-color-shade-1: #ccc;
	--fg-color-shade-2: #aaa;

	--alt-color: var(--theme-green);
	--alt-color-rgb: var(--theme-green-rgb);
	--alt-contrast-color: var(--bg-color);

	--theme-green: #69ea7d;
	--theme-green-rgb: 105, 234, 125;
	--theme-blue-dark: #2368CB;
	--theme-blue-dark-rgb: 35, 104, 203;
	--theme-blue-light: #26B9D7;
	--theme-blue-light-rgb: 38, 185, 215;
	--theme-pink: #E83D89;
	--theme-pink-rgb: 232, 61, 137;
	--theme-purple: #A83EA6;
	--theme-purple-rgb: 168, 62, 166;
	--theme-red: #EF4E4E;
	--theme-red-rgb: 239, 78, 78;
	--theme-orange: #EFB74E;
	--theme-orange-rgb: 239, 183, 78;
	/* Cyberpunk 2077 Yellow! */
	--theme-yellow: #FDF800;
	--theme-yellow-rgb: 253, 248, 0;

	--codefx-color: #ffa500;
	--rss-color: #f0941a;
	--books-color: #7e180a;
	--discord-color: #5865F2;
	--github-color: #f6f8fa;
	--medium-color: #18b475;
	--stackoverflow-color: #f58023;
	--talks-color: #ff8c6a;
	--twitch-color: #a970ff;
	--twitter-color: #1da1f3;
	--youtube-color: #da281e;
	--facebook-color: #1877F2;
	--linkedin-color: #2977C9;
	--xing-color: #C6F16D;
	--vk-color: #4A76A8;
	--reddit-color: #F73000;
	--hackernews-color: #FF6600;

	color: var(--fg-color);
}

.theme-green {
	--alt-color: var(--theme-green);
}

.theme-blue-dark {
	--alt-color: var(--theme-blue-dark);
}

.theme-blue-light {
	--alt-color: var(--theme-blue-light);
}

.theme-pink {
	--alt-color: var(--theme-pink);
}

.theme-purple {
	--alt-color: var(--theme-purple);
}

.theme-red {
	--alt-color: var(--youtube-color);
}

.theme-orange {
	--alt-color: var(--theme-orange);
}

.theme-yellow {
	--alt-color: var(--theme-yellow);
}
