.container {
	overflow: hidden;
	/* this sticks the message box to the bottom of the container */
	display: flex;
	flex-direction: column-reverse;

	padding-top: 1.5em;
	padding-bottom: 0.5em;
	padding-left: 0.5em;
}

.messageBox {
	overflow: auto;
	/* this reverses message order and puts the first rendered message at the bottom */
	display: flex;
	flex-direction: column-reverse;
}

.messageBox::-webkit-scrollbar {
	display: none;
}

.message {
	word-wrap: break-word;
	white-space: pre-wrap;

	display: grid;
	/* give badge column fixed width, so users without badge are indented */
	grid-template-columns: calc(var(--font-size) * 1.5) auto 1fr;
	grid-template-areas: "badge nick text";
}

.badge {
	grid-area: badge;

	height: calc(var(--font-size) * 1.25);
	/* assumes line height is 1.5 */
	padding-top: calc(var(--font-size) * 0.125);
}

.nick {
	grid-area: nick;

	padding-right: 0.25em;
	white-space: nowrap;
	color: var(--alt-color);
	transition: color var(--color-transition) ease;
}

.nick:after {
	content: ": ";
}

.text {
	grid-area: text;
}

.text p {
	margin: 0;
}

.text > p > * {
	padding-right: 0.25em;
}

.text .emote {
	vertical-align: middle;
	height: calc(var(--font-size) * 1.25);
	/* assumes line height is 1.5 */
	padding-top: calc(var(--font-size) * 0.125);
}

.text em {
	color: var(--alt-color);
	font-style: normal;
}

.text code {
	font-family: var(--code-font);
	font-size: 0.8em;
}

.text pre {
	margin: 0;
}
