.container {
	overflow: hidden;
	display: flex;
	flex-direction: column-reverse;

	padding-top: 1.5em;
	padding-bottom: 0.5em;
}

.messageBox {
	overflow: auto;
	display: flex;
	flex-direction: column-reverse;
}

.messageBox::-webkit-scrollbar {
	display: none;
}

.message {
	word-wrap: break-word;
	white-space: pre-wrap;

	display: grid;
	grid-template-columns: auto 1fr;
}

.nick {
	color: var(--alt-color);
}

.nick:after {
	content: ": ";
}

.text p {
	margin: 0;
}

.text em {
	color: var(--alt-color);
	font-style: normal;
}

.text code {
	font-family: var(--code-font);
}
