.notes {
	background-color: var(--bg-color);
	padding: 1em 1em 1em;
}

.notes > * {
	margin: 0.5em 0;
}

.notes p {
	font-size: 1.25em;
	line-height: 1.25;
}

.notes p.indent {
	padding-left: 2em;
}

.notes ul {
	font-size: 1.25em;
}
