p.timeZone {
	margin: 0.75em 0 0;
	color: var(--fg-color-shade-2);
	text-align: center;
}

.timeZone:before {
	content: " // "
}

.timeZone:after {
	content: " // "
}

.scheduleList {
	list-style: none;
	margin: 0;
	padding: 0;
}

.entry {
	margin: 0.75em 0 0;
	padding: 0.75em 0 0;
	border-top: 1px solid var(--alt-color);
}

.time:after {
	content: ": ";
}

.title {
	color: var(--alt-color);
}

p.description {
	margin: 0.25em 0 0;
	color: var(--fg-color-shade-2);
}
