.scheduleList {
	list-style: none;
	margin: 0;
	padding: 0;
}

.entry {
	margin: 0 0 1em;
	padding: 0 0 1em;
}

.entry:first-child {
	padding-top: 0.5em;
}

.entry:not(:last-child) {
	border-bottom: 1px solid var(--alt-color);
}

.entry .time:after {
	content: ": ";
}

.entry .title {
	color: var(--alt-color);
}

.entry .description {
	margin: 0.25em 0 0;
	color: var(--fg-color-shade-2);
}
