.grid {
    min-height: 100vh;
    display: grid;

    --entry-border: 1px solid var(--bg-color-lighter);
}

.month {
    background: var(--alt-color);
    color: var(--bg-color);

    font-weight: bold;
    text-align: center;
}

.person {
    background: var(--alt-color);
    color: var(--bg-color);

    font-size: var(--tiny-font-size);
}
.person > * {
    padding: 0.5em 0;

    transform: rotate(-90deg);
}

.dayOfMonth {
    padding: 0 0.5em;

    background: var(--alt-color);
    color: var(--bg-color);

    font-weight: bold;
    text-align: center;

    /* TODO: center align vertically */
}

.entry {
    border: var(--entry-border);
}

.holiday {
    background-color: var(--holiday);
}

.weekendDay {
    background-color: var(--weekend-day);
}

.emptyDay {
    background-color: var(--empty-day);
    border: var(--entry-border);
}

.nonDay {
    background-color: var(--non-day);
}
