body {
    margin: 0;

    /* fonts */
    --large-font-size: 24px;
    --regular-font-size: 18px;
    --small-font-size: 16px;
    --tiny-font-size: 14px;
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size: var(--regular-font-size);
    font-weight: normal;
    line-height: 1.5;

    /* colors */
    --bg-color: #262429;
    --bg-color-lighter: #3f3c44;
    --bg-color-darker: #0d0c0e;
    --fg-color: white;
    --alt-color: #69ea7d;

    --weekend-day: var(--bg-color-lighter);
    --non-day: var(--bg-color-darker);

    background-color: var(--bg-color);
    color: white;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
    color: var(--alt-color);
}